* {
    font-family: Arial, Helvetica, sans-serif;
}

#sony_head {
    background-color: #000;
    text-align: right;
}

#sony_head img {
    width: 120px;
}

#search-btn {
    width: 30px;
}

.nav-item.dropdown {
    position: static;
}

.navbar-light .navbar-nav .nav-link {
    font-size: 18px;
    color: #000;
}

.dropdown-toggle::after {
    color: #3790d8;
}

#nav_container .dropdown-menu {
    width: 100%;
    background-clip: initial;
    border: 0;
    border-radius: 0!important;
    text-align: center;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #3790d8;
}

.dropdown-menu[data-bs-popper] {
    margin: 0;
}

.dropdown-menu .dropdown-item img {
    display: block;
    height: 80px;
    margin: 0 auto;
}

.dropdown-menu > li:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

.dropdown-menu li .dropdown-item:hover  {
    color: #3790d8;
    background-color: transparent;
}

.dropdown-menu li {
    display: inline-block;
}

.dropdown_sublink hr {
    margin: 20px 0;
}

.dropdown_sublink ul li a {
    text-decoration: none;
    color: black;
}

.dropdown_sublink ul li a:hover {
    color: #3790d8;
}

.dropdown_sublink ul li a::before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    margin-bottom: 2px;
    background-color:#3790d8;
    border-radius: 50%;
}

#navbar_right .nav-item .nav-link {
    padding-top: 12px;
}

#nav_searchbar {
    display: none;
}

/* JUMBOTRON rules */
#jumbotron_carousel_1 {
    height: 60vh;
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: top;
}

#jumbotron_carousel_2 {
    height: 60vh;
    background-image: url(https://multiplayer.net-cdn.it/thumbs/images/2021/06/10/ratchet-and-clank-rift-apart-review_jpg_1200x0_crop_q85.jpg);
    background-size: cover;
    background-position: center;
}

#jumbotron_carousel .carousel-item .row {
    height: 60vh;
}

#jumbotron_carousel .carousel-indicators {
    position: static;
}

#jumbotron_carousel .carousel-indicators img {
    border-radius: 20px;
}

#jumbotron_carousel .carousel-indicators .active img {
    border: 4px solid #3790d8;
    padding: 2px;
}

#jumbotron_carousel .carousel-indicators button {
    width: 100%;
    text-indent: 0;
}

#jumbotron_carousel .carousel-indicators button:hover {
    opacity: 1;
    position: relative;
    bottom: 10px;
    transition: all 400ms;
}

/* PS5 CAROUSEL rules */
#ps5_carousel .carousel-indicators {
    position: static;
}

#ps5_carousel .carousel-indicators .active .indicator_title {
    border-bottom: 3px solid #3790d8;
    padding: 3%;
    transition: all 100ms;
}

#ps5_carousel .carousel-indicators button {
    width: 100%;
    text-indent: 0;
}

#ps5_carousel .carousel-indicators button:hover {
    opacity: 1;
}

/* OTHER SECTION rules */
#game_buynow {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#game_newgames {
    background-color: #1f1f1f;
}

#game_newgames .row img {
    border-radius: 20px;
}

#ps_plus {
    background-color: #bebcbb;
}

#ps_now {
    background-color: #161c3b;
}

#social_media img {
    max-height: 150px;
}

/* FOOTER rules */
footer {
    background-color: #00439c;
}

#language_sel::before {
    content: url(../img/language-globe.svg);
    margin-right: 10px;
    width: 15px;
    display: inline-block;
}

footer ul li {
    list-style-type: none;
}

footer ul li a {
    color: white;
    text-decoration: none;
}

@media all and (max-width:991px) {
    #nav_container .dropdown-menu {
        text-align: left;
    }

    #navbar_right .nav-item button {
        width: 50%;
        margin: 15px 0;
    }

    #nav_searchbar {
        width: 80vw;
        display: inline-block;
    }
}

#jumbotron_carousel .carousel-indicators {
    margin-left: initial!important;
    margin-right: initial!important;
}